.window-controls {
  position: absolute;
  right: 6px;
  top: 4px;
  display: flex;
  gap: 4px;
  -webkit-app-region: no-drag;
}

.window-controls button {
  background: none;
  border: none;
  font-size: 12px;
  color: #5e503f;
  cursor: pointer;
  font-weight: bold;
  padding: 1px 4px;
  border-radius: 4px;
  transition: background 0.2s;
}

.message {
  font-size: 10.5px;
  margin: 2px 0 4px 0;
  color: #5e503f;
}

.gif-container {
  position: relative;
  width: 100%;
}

.gif-container img {
  width: 100%;
  border-radius: 6px;
  image-rendering: pixelated;
  display: block;
}

.buttons-over-gif {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
  background: rgba(0, 0, 0, 0.4);
  padding: 2px 4px;
  border-radius: 4px;
  -webkit-app-region: no-drag;
}

.buttons-over-gif button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.buttons-over-gif img {
  width: 20px;
  height: 20px;
  filter: none;
  transition: transform 0.1s ease, filter 0.2s ease;
}

.buttons-over-gif img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #0ff);
}

.mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 10px;
  padding: 3px 6px;
  background-color: #f2c94c;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #5e503f;
  cursor: pointer;
  transition: background 0.2s;
  
}

.mode-btn .icon {
  width: 14px;
  height: 14px;
  vertical-align: middle;

}

.mode-btn:hover {
  filter: brightness(1.1);
}

.mode-btn:active {
  transform: scale(0.97);
  filter: brightness(0.95);
}

.mode-btn.active-mode:hover {
  filter: brightness(1.1);
}